# Virtual Environment
venv/
env/
.venv/
ENV/

# Python Cache & Byte-code
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Large Audio Datasets & Raw Extractions
dataset/
archive*/

# Temporary Audio Files & User Recordings
recordings/*
!recordings/.gitkeep
temp/*
!temp/.gitkeep

# IDE & OS Specific
.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp

# Streamlit Local Settings
.streamlit/secrets.toml